.uploadpopup {
  background-color: aliceblue;
  border-radius: 6px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0% 30px 30px;
  color: antiquewhite;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform0.4s, top 0.4s;
  height: 60vh;
  width: 60vw;
  z-index: 999;
}

.drag-area {
  border: 2px dashed #000000;
  width: 50vw;
  height: 50vh;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 1vh;
  /* top: 5vh; */
}

.drag-area-content {
  position: relative;
  margin-top: 7vh;
  color: black;
}

.drag-area.active {
  border: 2px solid #000000;
}

.drag-area .icon {
  font-size: 100px;
  color: #000000;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #1d5e87;
  border-radius: 6px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.open-Popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close-Popup {
  background-color: aliceblue;
  border-radius: 6px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0% 30px 30px;
  color: antiquewhite;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform0.4s, top 0.4s;
  height: 60vh;
  width: 60vw;
  z-index: 999;
}

.popup-back {
  /* margin-left: -50vw; */
  width: 4vw;
  position: relative;
  padding: 0.2vw;
  margin-top: 1vh;
  background-color: #e6e6e6;
  border-radius: 10px;
  transition: 0.3s;
  text-decoration: none;
}

.popup-back:hover {
  background: #ababab;
  color: #fff;
  text-decoration: none;
}